@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MENU HORIZONTAL */
#principal{
  width: 100vw;
  height: 100px;
  border: 2px solid black;
  font-size: 25px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  background-color: black;
  display: flex;
  gap: 100px;
  align-items: center;
}

#principal a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

#principal div {
  width: 79%;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

#principal button{
  height: 40px;
  width: 100px;
  border: none;
}